<div class="app">
  
  <div class="app-header">
    <app-search-bar (search)="handleSearch($event)"></app-search-bar>
    <button class="app__add-btn" (click)="toggleForm()">
    {{ showForm ? 'Close form' : 'Add contact' }}
  </button>
  </div>

  
  <app-contact-list 
    *ngIf="!showForm"
    [contacts]="filteredContacts" 
    (editContact)="handleEdit($event)" 
    (deleteContact)="handleDelete($event)">
  </app-contact-list>

  <app-contact-form 
      *ngIf="showForm" 
      [contactToEdit]="contactToEdit" 
      (contactSubmitted)="handleContactSubmitted($event)">
  </app-contact-form>

</div>